* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    background-color: #232323;
}

.section-1-lower-main {
    display: flex;
    justify-content: center;
}


.section1 {
    background-image: url(./section1.jpg);
    background-color: black;
    height: 93vh;
    position: relative;
}

.section-1-opacity {
    position: absolute;
    height: 93vh;
    width: 100%;
    opacity: 0.75;
    background-color: black;
}

.nav {
    display: flex;
    position: relative;
    max-width: 77vw;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 10px;
}

@media screen and (max-width: 600px) {
    .nav {
        display: flex;
        flex-direction: column;
    }
}

.nav-left {
    height: 70px;
    font-weight: 700;
    font-size: 45px;
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.nav-right {
    display: flex;
    font-size: 16px;
    text-align: center;

}

.nav-btn-1 {
    display: flex;
    justify-content: space-around;
    height: 30px;
    width: 126.4px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 17px;
    align-items: center;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}


.nav-btn-2 {
    height: 30px;
    width: 76.9px;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 17px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}

.nav-btn-2:hover {
    background-color: rgb(214, 13, 13);
}

.section-1-main {
    display: flex;
    height: 70vh;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    color: rgb(255, 255, 255);
    position: absolute;
}

@media screen and (max-width: 600px) {
    .section-1-main {
        margin-top: 13vh;
    }
}

.section-1-main-upper {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .section-1-main-upper {
        font-size: 32px;
        text-align: center;
    }
}

.section-1-main-middle {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media screen and (max-width: 630px) {
    .section-1-main-middle {
        text-align: center;
    }
}

.section-1-main-middle-1,
.section-1-main-middle-2 {
    margin-top: 1.5rem;
}

.section-1-main-middle-2 {
    font-size: 20px;
}


.section-1-main-lower {
    display: flex;
    gap: 10px;
    margin-top: 1.5rem;
}

@media screen and (max-width: 600px) {
    .section-1-main-lower {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.section-1-main-lower-left input {
    border: none;
    height: 56px;
    width: 350px;
    background-color: transparent;
    border: 1px solid rgb(154, 154, 154);
    border-radius: 7px;
    font-size: 17px;
    padding-left: 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

input::placeholder {
    color: rgb(160, 160, 160);
}

.section-1-main-lower-right button {
    background-color: red;
    color: white;
    height: 56px;
    width: 202px;
    border-radius: 7px;
    font-size: 1.4em;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 550;
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    .section-1-main-lower-left input {
        width: 60vw;
    }

    .section-1-main-lower-right button {
        width: 160px;
        font-size: 18px;
    }
}

.section-1-main-lower-right button:hover {
    background-color: rgb(214, 13, 13);
}

.ri-arrow-right-s-line {
    font-size: 1.8rem;
}


.section2 {
    background-color: rgb(0, 0, 0);
    height: 80.3vh;
    margin-top: 8px;
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@media screen and (max-width: 1010px) {
    .section2 {
        flex-wrap: wrap;
    }
}

.section-2-left-upper {
    font-size: 48px;
    font-weight: 900;
    line-height: 100px;
}

@media screen and (max-width: 1010px) {
    .section-2-left-upper {
        font-size: 32px;
        font-weight: 700;
        text-align: center;
    }
}

.section-2-right {
    position: relative;
}

.section-2-right img {
    position: relative;
    overflow: hidden;
    width: 40vw;
    z-index: 1;
}

@media screen and (max-width: 1010px){
    .section-2-right img{
        width: 350px;
    }
}


.section-2-right video {
    position: absolute;
    width: 30vw;
    top: 20%;
    left: 13%;
}

@media screen and (max-width: 1010px){
    .section-2-right video{
        width: 300px;
    }
}



.section-2-left-lower {
    max-width: 40vw;
    font-size: 24px;
}

@media screen and (max-width: 1010px) {
    .section-2-left-lower {
        font-size: 18px;
        text-align: center;
        max-width: 80vw;
    }
}

.section3 {
    background-color: black;
    height: 80.3vh;
    margin-top: 8px;
}

.section-3-main {
    display: flex;
    align-items: center;
    color: white;
}

@media screen and (max-width: 1010px) {
    .section-3-main {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .section-3-left img {
        width: 300px;
        height: 250px;
        margin-top: 14%;
    }

}

.section-3-right-upper {
    font-size: 48px;
    font-weight: 900;
    max-width: 40vw;
}

@media screen and (max-width: 1010px) {
    .section-3-right-upper {
        font-size: 32px;
        font-weight: 700;
        max-width: 90vw;
        margin-top: 30px;
        /* display: flex; */
        text-align: center;
    }
}

.section-3-right-lower {
    font-size: 24px;
    font-weight: 400;
    max-width: 37vw;
}

@media screen and (max-width: 1010px) {
    .section-3-right-lower {
        font-size: 18px;
        max-width: 80vw;
        text-align: center;
    }

}

.section4 {
    background-color: black;
    height: 80.3vh;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

@media screen and (max-width: 1010px) {
    .section4 {
        flex-wrap: wrap;
    }
}

.section-4-left {
    max-width: 35vw;
}

@media screen and (max-width: 1001px) {
    .section-4-left {
        max-width: 80vw;
    }
}

.section-4-left-upper {
    font-size: 48px;
    font-weight: 900;
    line-height: 100px;
}

@media screen and (max-width: 1010px) {
    .section-4-left-upper {
        font-size: 32px;
        line-height: 50px;
        text-align: center;
    }
}

.section-4-left-lower {
    font-size: 24px;
    font-weight: 400;
}

@media screen and (max-width: 1010px) {
    .section-4-left-lower {
        font-size: 18px;
        text-align: center;
    }
}

.section-4-right {
    position: relative;
}

.section-4-right video {
    position: absolute;
    top: 8.5%;
    left: 18%;
    overflow: hidden;
    width: 27vw;
}

.section-4-right img {
    width: 42vw;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

@media screen and (max-width: 1010px){
    .section-4-right img{
        width: 350px;
    }

    .section-4-right video{
        width: 220px;
    }
}

.section5 {
    background-color: black;
    height: 80.3vh;
    margin-top: 8px;
}


.section-5-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@media screen and (max-width: 1010px) {
    .section-5-main {
        flex-wrap: wrap-reverse;
    }
}

.section-5-left {
    position: relative;
    top: 50px;
}

.section-5-left img {
    width: 100%;
}

@media screen and (max-width: 1010px) {
    .section-5-left img {
        height: 300px;
    }
}

.section-5-right-upper {
    font-size: 48px;
    font-weight: 900;
    max-width: 40vw;
    padding-top: 50px;
}

@media screen and (max-width: 1010px) {
    .section-5-right-upper {
        max-width: 90vw;
        line-height: 40px;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
    }
}

.section-5-right-lower {
    font-size: 24px;
    font-weight: 400;
    max-width: 37vw;
}

@media screen and (max-width: 1010px) {
    .section-5-right-lower {
        max-width: 80vw;
        font-size: 18px;
        text-align: center;
    }
}

.section6 {
    background-color: black;
    height: 135vh;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-6-upper {
    font-size: 48px;
    font-weight: 900;
    color: white;
    padding-top: 50px;
}

@media screen and (max-width: 1010px) {
    .section-6-upper {
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        padding-top: 20px;
    }
}

.section-6-grid {
    display: grid;
    gap: 10px;
    padding: 20px;
}

.section-6-grid div {
    background-color: #2d2d2d;
    height: 84px;
    display: flex;
    font-size: 24px;
    font-weight: 400;
    color: white;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    width: 70vw;
}

@media screen and (max-width: 1010px) {
    .section-6-grid div {
        font-size: 18px;
    }
}

.section-6-lower-grid {
    color: white;
    font-size: 24px;
    font-weight: 400;
}

@media screen and (max-width: 1010px) {
    .section-6-lower-grid {
        max-width: 700px;
        font-size: 18px;
        text-align: center;
    }
}

.section7 {
    background-color: rgb(0, 0, 0);
    height: 55.3vh;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0px 10%;
    justify-content: center;
    gap: 10px;
}

.section-7-middle {
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1010px){
    .section-7-middle{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.section-7-middle div a {
    color: rgb(184, 184, 184);
    font-size: 14px;
}


.section-7-btn-copy,
.section-6-input {
    background-color: rgba(59, 59, 59, 0.3);
}